{% set css %}
  {% imageCssBackground "mushrooms" %}
  {% imageCssBackground "oaks" %}
  {% imageCssBackground "stream" %}
  {% imageCssBackground "tall-trees" %}
  {% imageCssBackground "under-mushrooms" %}
  {% imageCssBackground "water-1" %}
  {% imageCssBackground "water" %}
  {% imageCssBackground "web" %}
  {% imageCssBackground "yukon" %}
  {% imageCssBackground "zambezi" %}
{% endset %}
<style>{{ css | safe }}</style>
