---
layout: base
---

<article class="wrapper flow prose">
  <section class="full | cover-image cover-image-{{coverImage}}">
    <div class="cover-image__inner">
      <h1>{{title}}</h1>
    </div>
  </section>
  {{ content | safe }}
</article>
