---
layout: base
permalink: /index.html
title: "Poesis"
description: "Poesis is a space of invitation… to explore what it means to be human at this point of profound planetary change; using our hands, heart and soul, as well as our relationship with systems and society."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "seperator" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="coming-soon">Coming Soon!</h2>
      <p>
        Poesis is a community project in the process of being set up and seeking
        funding.
      </p>
      <p>
        If you would like to bet involved in its foundation, attend
        events/activities when we set-up or would like to fund us, please get in
        touch at ……………
      </p>
    </div>
  </article>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="usp">USP</h2>
      <p>
        Poesis is a space of invitation… to explore what it means to be human at
        this point of profound planetary change; using our hands, heart and
        soul, as well as our relationship with systems and society.
      </p>
    </div>
  </article>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="what-is-poesis">What is Poesis</h2>
      <p>
        Poesis is an intergenerational community space which invites people to
        gather and explore what is means to be human at this time of profound
        planetary change.
      </p>
      <p>
        We have a need to be connected; to ourselves, to each other and to the
        wider natural world; a need to feel whole and for our lives to make
        sense and have meaning.
      </p>
      <p>
        It is a place provides the space to reflect, contemplate, connect,
        cultivate, be curious, imagine, innovate, heal, as well as develop
        radical ideas for cultural and societal change.
      </p>
      <p>
        It intends to provide a home for those searching to make sense of our
        current reality and wanting to make a difference through their own
        lives.
      </p>
      <p>
        It does this through a combination of activities and practices,
        supporting us to share collective experiences, collaborate, deepen
        insight and to be part of a healthy living culture.
      </p>
      <p>
        This is all in service of contributing to the paradigm shift needed in
        the world, recognising that we are all deeply interconnected and part of
        the web of life along with the more-than-human world.
      </p>
      <p>
        Poesis is an emerging project, it will develop over time with the
        involvement of those connected to it.
      </p>
    </div>
  </article>
</div>
