<header class="wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="site-header | repel ontop">
    <a href="/" class="logo | cluster" {% if page.url == "/" %}aria-current="page"{% endif %}>
      {% plainImage "./src/assets/images/logo.png", 'Poesis', 'eager', [120], ['jpeg'] %}
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
